@keyframes tilburg-loading-spinner-spin {
  to {
    transform: rotate(360deg);
  }
}

.tilburg-loading-spinner__overlay {
  block-size: 100vh;
  inline-size: 100vw;
  inset: 0;
  position: fixed;
  vertical-align: middle;
  z-index: 1010;
}

.tilburg-loading-spinner__panel {
  align-items: center;
  background-color: rgb(255 255 255 / 90%);
  block-size: 100vh;
  display: flex;
  inline-size: 100vw;
  inset: 0;
  justify-content: center;
  position: fixed;
}

.tilburg-loading-spinner__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tilburg-loading-spinner__svg {
  animation: tilburg-loading-spinner-spin 1000ms linear infinite;
  block-size: 6rem;
  color: var(--tilburg-color-gray-300, #afafaf);
  fill: var(--tilburg-color-gray-950, #333);
  inline-size: 6rem;
  margin-block: 1.5rem 2rem;
  margin-inline: 0;
}
