.utrecht-checkbox--html-input.utrecht-checkbox--custom.utrecht-checkbox {
  &:not(:checked) {
    background-image: none;
  }

  &:active {
    --utrecht-checkbox-border-width: 2px;
  }

  &:invalid {
    background-color: #ffe1e0;
  }

  &:checked {
    &:active {
      opacity: 90%;
    }

    &:invalid {
      background-color: var(--utrecht-checkbox-disabled-border-color);
    }

    &:focus-visible,
    &:focus {
      background-color: #e6f6ff;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
      border-color: var(--utrecht-form-control-focus-border-color, var(--utrecht-form-control-focus-border-color));
    }
  }
}
